.carousel {
  max-width: 730px;
  width: 100%;
  border-radius: 16px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;

  .carousel-content {
    box-sizing: border-box;
    padding: 40px 30px 50px 30px;

    .carousel-content__title {
      font-size: 30px;
      color: #283977;
      font-weight: bold;
      margin: 0;

      &:hover {
        color: #f58e6a;
        cursor: pointer;
      }
    }

    p {
      font-size: 25px;
      color: #f58e6a;
      margin: 20px 0 25px 0;
    }

    .carousel-content__state {
      display: flex;
      align-items: center;
      margin-bottom: 30px;

      div {
        margin-right: 25px;
        color: #283977;
        font-size: 20px;
        span {
          i {
            margin-right: 5px;
          }
        }
      }
    }

    .carousel-content__value {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      margin-bottom: 20px;

      .items {
        width: 50%;
        display: flex;
        align-items: center;
        font-size: 17px;
        margin-bottom: 10px;

        i {
          margin-right: 7px;
          color: #283977;
        }

        .item-name {
          font-weight: bold;
          margin-right: 5px;
        }

        .item-value__m {
          color: #759bef;
          text-decoration: underline;
          cursor: pointer;

          &:hover {
            color: #f58e6a;
          }
        }
      }
    }
  }
}
