.favorite {
  i {
    font-size: 30px;
    color: #759bef !important;
    cursor: pointer;

    &:hover {
      .anticon {
        .anticon-heart {
          fill: red !important;
        }
      }
    }

    .checked-icon {
      position: absolute;
      font-size: 12px;
      top: 27px;
      left: 25px;
      color: #fff;
      font-weight: bold;
    }
  }

  .checked {
    position: relative;
  }
}
