:root {
  --Astronaut: #283977;
  --MineShaft: #393939;
  --SandyBrown: #f58e6a;
  --CornflowerBlue: #759bef;
  --White: #fff;
  --AthensGray: #f1f2f6;
  --Tuna: #353536;
  --FrenchGray: #c3c6cc;
  --Pomegranate: #f02d2d;
  --Bombay: #b1b2b6;
  --Bizarre: #f0dbe2;
}
